
<h3 class="fancy_title">Featured Product</h3>
<h4 ><%= @featured_product.name %></h4>
<p><%= @featured_product.description %></p>
<%= image_tag @featured_product.image_url, alt: @featured_product.description, width: "300px" %>

