<h3>Gallery</h3>

<div class="banner">
    <ul>
        <li><%= image_tag @gallery.image_url, alt: @gallery.description, width: "300px" %></li>
        <li><%= image_tag @gallery.image_url, alt: @gallery.description, width: "300px" %></li>
        <li><%= image_tag @gallery.image_url, alt: @gallery.description, width: "300px" %></li>
    </ul>
</div>
<a href="#" class="unslider-arrow prev">Previous slide</a>
<a href="#" class="unslider-arrow next">Next slide</a>