<div class="container">
      <h2>Welcome!</h2>
  <div class="col-md-4">

    <%= image_tag "finger_cymbals.JPG", alt: "finger cymbals", class: "product" %>
  </div>
  <div class="col-md-4 col-md-offset-1">
    <p>
    Hi there! I sell pre-loved children's musical instruments and props. </p>
    <p>These were first used in my <a href="http://www.musicalsteps.co.uk/" target="_blank" >Musical Steps</a> classes 
    in london and have been loved and played with by tiny babies and energetic pre-schoolers.
  </p>
  <p>This is a test Rails website, built during my course with Career Foundry.</p>
  </div>
</div>



