// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border: 1px solid #ccc;
$border_radius: 20px;
$padding: 1em;

#products {
  width: 100%;
  margin: 2em auto;
  padding: 1em;
  font-size: 1.1em;
}
#products th, #products td {
  padding: $padding;
  text-align: center;
  border: $border;
  color:#9EDFE2;
  background:  #435267;
}
#new_product, .edit_product {
  input, textarea {
  width: 300px;
  padding: $padding;
  }
  .actions input {
    border: $border;
    border-radius: $border_radius
  }
}
