// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Helvetica, sans-serif;
$primary-color: #ddd;
$body-color: #fff;
$h1-color: rgb(253, 253, 63);
$h2-color: #9EDFE2;
$h3-color: #9BD8B9;
$dark_bg: #435267;
$padding: 0.5em;

body {
  font: 1.2em $font-stack;
  color: $primary-color;
  background-color: $dark_bg;
  margin:0 3em;
}
h1 {
    color: $h1-color;
    text-align: center;
    padding: 0.7em 0 0 0;
}
h2 {
  text-align: center;
  color: $h1-color;
  font-size: 1.7em;
}
h3, h4 {
  color: $h3-color;
}
img {
  width: 300px;
}
.carousel-caption {
  color: $h2-color;
}
.navbar {
  background: $dark_bg;
  a {
    color: $h1-color;
  }
}
.search {
  padding: 10px 0;
  width: 20%;
  input {
    padding: $padding;
  }
}
label {
  color: $h2-color;
  font-weight: normal;
}