<p id="notice"><%= notice %></p>

  <table id="products">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Colour</th>      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Product', new_product_path %>
<%= will_paginate @products %>